name: daily-update

on:
  schedule:
    - cron: "*/5 * * * *"

jobs:
  hackernews-daily:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        ref: main
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - name: npm install
      run: npm install --only=prod
      working-directory: .
    - name: Get fresh HackerNews
      run: node ./feeds/hackernews-daily/index.js
    # you need git commit to push the forks data to the repo
    - name: Git commit
      run: |
        # git commit if there's any change
        if test -n "$(git status --porcelain 2>/dev/null)"; then
            git config --global user.email "idegorepl@gmail.com"
            git config --global user.name "TabHub Bot"
            git add .
            git commit -m "Update Hacker News daily top data"
            git push origin main
        fi
